%table
  %thead
    %th Parameter
    %th
  %tbody
    - cart.line_items.each do |item|
      %tr
        %td
          = truncate(item.parameter.description, :length => 50)
        %td
          = button_to "\u00d7", line_item_path(item.id), :class => 'remove-item', :method => :delete, :remote => true
