@import "pagination";

body
{
  font-family: Helvetica;
  padding: 0;
  margin:0;
}

form
{
  padding: 0;
}

.header
{
  position: relative;
  height: 66px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0,0,0, 0.4)
}

.header-left
{
  text-align: center;
  padding: 14px;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  border-radius: 4px;
}

.header-right
{
  position: absolute;
  left: 76px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #961924;
  padding: 10px;
  border-radius: 4px;
}

h1
{
  margin: 10px 0 8px 0;
  font-weight: bold;
  color: #000;
  font-size: 24px;
  line-height: 24px;
  color: white;
  opacity: 0.9;
}

.search
{
  position: absolute;
  left: 160px;
  top: 0;
  bottom: 0;
  right: 160px;
  text-align: center;
  margin: 14px;
  vertical-align: text-bottom;
}


.search input[type='text']
{
  font-size: 20px;
  height: 38px;
  padding: 6px 30px 6px 12px;
  width: 600px;
  margin: 0;
}

.search input[type='text']::-webkit-input-placeholder,
.search input[type='text']::-moz-input-placeholder
{
  padding: 3px 1px;
}

.search-reset
{
  position: relative;
  left: -30px;
  top: -2px;
  font-weight: bold;
  line-height: 14px;
  font-size: 14px;
  border: none;
  color: white;
  background: #AAA;
  height: 16px;
  width: 16px;
  border-radius: 18px;
  padding: 0 0 2px 0;
  margin-right: -20px;
}

.search-submit {
    cursor:pointer;
    width:70px;
    height: 38px;
    line-height:0;
    font-size:0;
    text-indent:-999px;
    color: transparent;
    background: url(ico-search.png) no-repeat #19948A center;
    border: 1px solid #16857C;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    vertical-align: bottom;
}

.search-submit:hover {
    background: url(ico-search.png) no-repeat center #22C9BB;
    border: 1px solid #19948A;
}




.page-content
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#search_results
{
  background: #961924;
  border-radius: 4px;
  padding: 1px;
  margin-right: 210px;
  box-shadow: 0 0 12px rgba(0,0,0, 0.4)
}

table
{
  border-collapse: collapse;
  background: white;
  width: 100%;
  font-size:13px;
  line-height: 13.5px;
  color: gray;

  thead
  {
    color: white;
    font-weight: bold;
  }

  th
  {
    background: black;
    padding: 10px;
    text-align: left;
  }


  tr:nth-child(odd)
  {
    background: #ECECEC
  }

  tr:hover
  {
    background: #DDDDDD
  }

  td
  {
    border-bottom: 1px solid #DDD;
    padding: 10px;
  }
}

.page_info
{
  color: white;
  margin: 14px 15px;
  font-size: 14px;
  opacity: 0.9;
  float: left;
}

.digg_pagination
{
  float: right;
  margin: 8px 15px;
  display: inline-block;
  background: none;
  padding: 0;
}

#page_size
{
  margin: 14px 15px;
}




#export-section
{
  float: right;
  background: #961924;
  border-radius: 4px;
  padding: 1px;
  width: 200px;
  box-shadow: 0 0 12px rgba(0,0,0, 0.4);

  h2 {
    color: white;
    margin: 15px 15px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.9;
  }
}



.selected-parameters
{
  background: white;
  min-height: 200px;
}


.export-button {
    cursor:pointer;
    width:180px;
    margin: 10px;
    height: 38px;
    color: white;
    border: 1px solid #16857C;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    vertical-align: bottom;
    background: #19948a;
    font-size:16px;
    font-weight:bold;
}

.export-button:hover {
    background: #22C9BB;
    border: 1px solid #19948A;
}

.export-as
{
  text-align: center;
  color: white;
  font-size: 13px;
  margin: 10px;
  margin-bottom:0;
}
