.digg_pagination {
	background: white;
	cursor: default;
	margin: 10px;
	padding:5px;
	a, span, em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px;
	}
	.disabled {
		color: rgba(255,255,255,0.4);
		border: 1px solid rgba(255,255,255,0.4);
	}
	.current {
		font-style: normal;
		font-weight: bold;
		background: white;
		color: black;
		border: 1px solid white;
	}
	a {
		text-decoration: none;
		color: white;
		border: 1px solid white;
		&:hover, &:focus {
          background-color: rgba(255,255,255,0.4)
		}
	}
	.page_info {
//		background: #000000;
		color: white;
		padding: 0.4em 0.6em;
		width: 22em;
		margin-bottom: 0.3em;
		text-align: center;
		b {
			color: #000033;
//			background: #BABABA;
			padding: 0.1em 0.25em;
		}
	}
	.pagination {
		margin: 0;
	}
  .export {
    float: right;
    margin-top: -2.7em
  }
}

// Datatables.net specific styling changes (over the defaults)

.dataTables_wrapper {
	clear: none;

	.dataTables_info {
		color: white;
		margin: 14px 15px;
		font-size: 14px;
		opacity: 0.9;
		float: left;
	}

	.dataTables_paginate {
		float: right;
		margin: 11px 15px;
		display: inline-block;
		background: none;
		padding: 0;
	}

	.dataTables_length {
		color: white;
		margin: 14px 15px;
		font-size: 14px;
		float: left;

		zoom: 1;
		filter: alpha(opacity=90);
		opacity: 0.9;
	}

	table.datatable {
		clear: none;

		thead {
			color: white;
		}

		tr:hover {
    	background: #DDDDDD;
  	}

  	tr:hover td.sorting_1 {
 			background: #DDDDDD;
  	}

		th {
			padding: 10px;
		}

		th.sorting_asc, th.sorting_desc, th.sorting {
			background-color: black;
		}

		td {
			word-wrap: break-word;
		}
	}

	.datatables_processing {
		border: 1px solid black;
		color: #961924;
		background-color: white;
		font-weight: bold;

		zoom: 1;
		filter: alpha(opacity=90);
		opacity: 0.9;
	}
}
