.header
  .header-left
    = link_to image_tag('icrar_logo_black_small.jpg'), root_url
  .header-right

    %h1 SKA PDB
    = render :partial => "layouts/search"
= render :partial => "layouts/navigation_devise"
