%div.center
  %div.dialog-form-wide
    %h2 Edit Profile
    = form_for(@user, :url => account_path(@user.id)) do |f|
      = render :partial => 'account', :locals => {:edit => true, :f => f}
    %div.center
      %span.pdb-button
        = link_to "Cancel", accounts_path
