.page-content
  .export-section
    %h2 Export selected
    .selected-parameters
      = render @cart

    .export-as
      Format:
      - formats = {"XML" => :xml, "PDF" => :pdf, "Java" => :java}
      = select("export_format", "", formats.collect { |label, param| [label, export_path(:format => param)] })
    = button_to_function "Export", "window.open($('#export_format_').val(), '_blank')", { :class => 'export-button'}

  #search_results.content-table

    %table#search{:"data-source"=>"#{parameters_url(:text => @search_text, format: "json")}"}

      %col{ :width => "12%" }
      %col{ :width => "8%" }
      %col{ :width => "20%" }
      %col{ :width => "15%" }
      %col{ :width => "30%" }
      %col{ :width => "5%" }

      %thead
        %tr
          %th Name
          %th Unit
          %th Source
          %th Expression
          %th Description
          %th

      %tbody

    %div{:style => 'clear:both;'}
